.cell{
  width: 200px;
  height: 200px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 155px;
  font-size: 190px;
  cursor: pointer;
  background-color:  black;
  color: yellow;
}
#gameContainer{
  font-family: cursive;
  text-align: center;
}

#cellContainer{
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 600px;
  margin: auto;
}

html{
  background-image: linear-gradient(red, yellow);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: bg-animation 5s infinite;
}

@-webkit-keyframes bg-animation {
  0% {
    background-color: red;
  }
  15% {
    background-color: yellow;
  }
  30% {
    background-color: green;
  }
  45% {
    background-color: blue;
  }
  60% {
    background-color: purple;
  }
  75% {
    background-color: pink;
  }
  90% {
    background-color: brown;
  }
  100% {
    background-color: red;
  }
}

@keyframes bg-animation {
  0% {
    background-color: red;
  }
  15% {
    background-color: yellow;
  }
  30% {
    background-color: green;
  }
  45% {
    background-color: blue;
  }
  60% {
    background-color: purple;
  }
  75% {
    background-color: pink;
  }
  90% {
    background-color: brown;
  }
  100% {
    background-color: red;
  }
}













/* #game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.square-slot {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 220px;
}

.disabled {
  cursor: not-allowed;
}

.square-slot:not(.disabled):hover {
  background: #eee;
}

.game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(0 0 0 / 50%) 0 0 0 9999px;
}

.game-over-text {
  position: absolute;
  top: -200px;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  transform: translateX(-30%);
}

.visible {
  display: block;
}

.x::after {
  content: '❌';
}

.o::after {
  content: '⭕';
} */